@page
@model Question60078465.RazorPages.Pages.SystemSettings.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SystemSettings</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                @*@Html.EditorFor(x => x.SystemSettings.EmailFromAddress)*@
            </div>
            <div class="form-group">
                @*@Html.Editor("SystemSettings.EmailFromAddress")*@
            </div>
            <div class="form-group">
                <editor asp-for="SystemSettings.EmailFromAddress"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}